<div class='container'>

<%@messages.each do |m|%>
<p><%=m.content%></p>

<%end%>



<%=form_with model: @message do |f|%>
<%=f.text_area :content%>
<%=f.submit%>
<%end%>


<div id="new_message"%></div>

</div>
